body{
    background-color: rgb(98, 26, 114);
    font-family:  sans-serif;
}

footer{
    background-color: white;
    font-size: 0.77em;
    color: rgb(72, 72, 175);
    width: 100px;
    padding: 10px 9px;
    text-align: center;
    border-radius: 15px;
    margin-top: 80px;
}

h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 30px;
}

p{
    font-size: 0.87em
}

a{
    text-decoration: none;
}

.box{
    color: white;
}

.left{
    background-color: rgb(159, 62, 159);
}

.right{
    background-color: rgb(218, 43, 113);
}

.center{
    background-color: rgb(31, 31, 90);
}


@media screen and (min-width: 900px) {
    
    #allcontent{
        width: 900px;
        position: absolute;
        left: 50%;
        top: 25%;
        margin-left: -450px;
    }
    
    #tablecontainer{
        display: table;
        box-shadow: 3px 3px 10px 5px rgb(49, 4, 59);
    }
    
    
    #tablerow{
        display: table-row;
        height: 350px;
    }
    
    .left{
        color: white;
        padding: 70px 50px 80px 40px;
        display: table-cell;
    }
    
    
    .right{
        color: white;
        padding: 70px 50px 80px 40px;
        display: table-cell;
    }
    
    .center{
        color: white;
        padding: 70px 50px 80px 40px;
        display: table-cell;
    }
    
    

}


@media screen and (max-width:900px) {
    #allcontent{
        padding: 10% 27%;
        align-items: center;
    }

    .box{
        width: 200px;
        height: 350px;
        padding: 50px 50px;
        margin-bottom: 20px;
        box-shadow: 3px 3px 10px 5px rgb(49, 4, 59);
    }
    
}

