* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
}


:root {
  /* Add your color variables here */
  --primary-color: #002351;
  --secondary-color: #0054C2;
  /* --danger-color: #dc3545;
  --light-color: #f8f9fa;
  --dark-color: #343a40; */
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}
